 .title
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    margin: 10px;
} 

.header
{

}

.button
{
    background-color: black;
    border: none;
    color: white;
    padding: 22px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 1px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.boldpart
{
    font-weight: bold;
    font-size: large;
}

.upload{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 10px;
    text-align: left;
    font-weight: 600;
}
